@import normalize
@import breakpoint
@import susy
@import compass/css3

@import url(https://fonts.googleapis.com/css?family=Fjalla+One)

$susy: (columns: 4, global-box-sizing: border-box, gutters: 29 / 69, container: 1169px, debug: (image: hide))
$tablet: 600px
$desktop: 980px
$fontbase: 10px
$line-height-base: 26px

@mixin cf
	&:after
		content: ''
		clear: both
		display: table

@include border-box-sizing

.wrap
	@include container()
	background: rgb(255, 255, 255)

//Layout
html
	font-size: $fontbase

body
	font-family: "Fjalla One", sans-serif
	font-size: 1rem
	p, a
		font-family: Lato, sans-serif
		font-size: 1.4rem
		line-height: 2.4rem
		font-weight: 400

	a
		color: rgb(232, 76, 61)

	p
		color: rgb(118, 124, 126)

	h2
		margin: 0
		color: rgb(32, 38, 40)
		font-family: "Fjalla One"
		font-size: 2.1rem
		font-weight: 400
		text-transform: uppercase
		
.icons
	background: url('../img/sprites/sprites.png') no-repeat
	display: block

header
	max-width: 100%
	margin: 0 auto
	background: rgb(34, 38, 40)

.wrap__main
	width: 100%
	margin: 0 auto
	background: white

.wrap__header
	@include container()
	height: 80px
	background: rgb(34, 38, 40)

.logo
	a
		text-transform: uppercase
		text-decoration: none
		float: left
		color: white
		font-family: 'Fjalla One', sans-serif
		font-size: 1.35rem
		margin-top: 27px

.menu
	float: right
	margin-top: 30px
	ul
		padding: 0
		margin: 0
		li
			list-style: none
			float: left
			padding: 0
			margin: 0
			a
				text-transform: uppercase
				text-decoration: none
				color: white
				font-family: 'Fjalla One', sans-serif
				font-size: 0.8rem
				padding: 34px 22px
				margin: 0
				&:hover
					background: rgb(203, 91, 66)
					padding: 34px 22px

.owl-carousel
	.item
		margin: 0 auto
		width: 100%
		background: url("../img/slider__pic_1.png") no-repeat center
		background-size: cover
		img
			margin: 0 auto
			width: 100%
			max-width: 1170px
			max-height: 560px
			opacity: 0

.slider
	max-width: 100%
	margin: 0 auto
	background: rgb(40, 40, 40)

.customNavigation
	z-index: 999
	position: absolute
	top: 300px
	//right: 0
	a
		@include user-select(none)
		.icon-next
			background-position: -50px 0
			max-width: 34px
			max-height: 70px
		.icon-prev
			background-position: 0 0
			max-width: 34px
			max-height: 70px

.wrap__underheader
	width: 100%
	margin: 0 auto
	background: rgb(231, 231, 231)

.underheader
	@include cf
	background: rgb(231, 231, 231)
	@include span(full)
		padding: 20px 0
	@include susy-breakpoint($tablet, 8)
		@include span(full)
		padding: 40px 0
	@include susy-breakpoint($desktop, 12)
		@include span(full)
		padding-top: 100px
		padding-bottom: 20px

.underheader__rocket
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 12)
		@include span(4 first)

.underheader__rocket_icon
	background-position: -100px 0
	width: 70px
	height: 70px
	float: left
	@include cf

.rocket__text, .shield__text, .firehelper__text
	width: 263px
	margin-left: 30%

.underheader__shield
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(4 last)
	@include susy-breakpoint($desktop, 12)
		@include span(4)

.underheader__shield_icon
	background-position: -200px 0
	width: 70px
	height: 70px
	float: left

.underheader__firehelper
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(4 first)
		margin-top: 40px
	@include susy-breakpoint($desktop, 12)
		@include span(4 last)

.underheader__firehelper_icon
	background-position: -300px 0
	width: 70px
	height: 70px
	float: left

.mid
	@include cf

.mid__picture
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(full)
	@include susy-breakpoint($desktop, 12)
		@include span(4 last)

.mid__articles
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(full)
	@include susy-breakpoint($desktop, 12)
		@include span(8)

.articles__subarticle1
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 8)
		@include span(4 first)

.articles__subarticle2
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 last)
	@include susy-breakpoint($desktop, 8)
		@include span(4 last)

.subscribe
	@include cf

.quote
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(full)
	@include susy-breakpoint($desktop, 12)
		@include span(6 first)

.form
	@include span(full)
	@include susy-breakpoint($tablet, 8)
	@include span(full)
	@include susy-breakpoint($desktop, 12)
		@include span(6 last)

.prefooter
	@include cf

.topics
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 12)
		@include span(4 first)

.feedback
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 last)
	@include susy-breakpoint($desktop, 12)
		@include span(4)

.contacts
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 12)
		@include span(4 last)

.footer
	@include cf

//Styles
.mid__picture
	background: pink
	height: 30vh
