@import normalize
@import breakpoint
@import susy
@import compass/css3

@import url(https://fonts.googleapis.com/css?family=Fjalla+One)
@import url(https://fonts.googleapis.com/css?family=Oswald)
@import url(https://fonts.googleapis.com/css?family=Lato)

$susy: (columns: 4, global-box-sizing: border-box, gutters: 29 / 69, container: 1169px, debug: (image: hide))
$tablet: 600px
$desktop: 980px
$fontbase: 10px
$line-height-base: 26px

@mixin cf
	&:after
		content: ''
		clear: both
		display: table

@include border-box-sizing
@include font-face("icomoon1", font-files("/fonts/fonts-icons/icomoon.ttf", "/fonts/fonts-icons/icomoon.woff", "/fonts/fonts-icons/icomoon.svg","/fonts/fonts-icons/icomoon.eot"))

.wrap
	@include container()
	background: rgb(255, 255, 255)

//Layout
html, body
	height: 100%

header, main
	min-height: 50%

html
	font-size: $fontbase

body
	font-family: "Fjalla One", sans-serif
	font-size: 1rem
	p, a
		font-family: Lato, sans-serif
		font-size: 1.4rem
		line-height: 2.4rem
		font-weight: 400

	a
		color: rgb(232, 76, 61)

	p
		color: rgb(118, 124, 126)

	h2
		margin: 0
		color: rgb(32, 38, 40)
		font-family: "Fjalla One"
		font-size: 2rem
		font-weight: 400
		text-transform: uppercase

	h3
		color: rgb(232, 76, 61)
		font-family: Lato, sans-serif
		font-size: 2rem
		font-weight: 400
		line-height: 2.4rem

	h4
		color: rgb(32, 38, 40)
		font-family: Lato, sans-serif
		font-size: 1.6rem
		font-weight: 700
		line-height: 2.4rem

.icons
	background: url('../img/sprites/sprites.png') no-repeat
	display: block

header
	max-width: 100%
	margin: 0 auto
	background: rgb(34, 38, 40)

.wrap__main
	width: 100%
	margin: 0 auto
	background: white

.wrap__header
	@include container()
	height: 80px
	background: rgb(34, 38, 40)

.logo
	a
		text-transform: uppercase
		text-decoration: none
		float: left
		color: white
		font-family: 'Fjalla One', sans-serif
		font-size: 2.5rem
		margin-top: 27px

.menu
	float: right
	margin-top: 30px
	ul
		padding: 0
		margin: 0
		li
			list-style: none
			float: left
			padding: 0
			margin: 0
			a
				text-transform: uppercase
				text-decoration: none
				color: white
				font-family: 'Fjalla One', sans-serif
				font-size: 1.3rem
				padding: 30px 22px
				margin: 0
				&:hover
					background: rgb(203, 91, 66)
					padding: 30px 22px

.owl-carousel
	.item
		margin: 0 auto
		width: 100%
		background: url("../img/slider__pic_1.png") no-repeat center
		background-size: cover
		img
			margin: 0 auto
			width: 100%
			max-width: 1170px
			max-height: 560px
			opacity: 0

.slider
	max-width: 100%
	margin: 0 auto
	background: rgb(40, 40, 40)

.customNavigation
	z-index: 999
	position: absolute
	top: 300px
	//right: 0
	a
		@include user-select(none)
		.icon-next
			background-position: -50px 0
			max-width: 34px
			max-height: 70px
		.icon-prev
			background-position: 0 0
			max-width: 34px
			max-height: 70px

.wrap__underheader
	width: 100%
	margin: 0 auto
	background: rgb(231, 231, 231)

.underheader
	@include cf
	background: rgb(231, 231, 231)
	@include span(full)
		padding: 20px 0
	@include susy-breakpoint($tablet, 8)
		@include span(full)
		padding: 40px 0
	@include susy-breakpoint($desktop, 12)
		@include span(full)
		padding-top: 100px
		padding-bottom: 20px

.underheader__rocket
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 12)
		@include span(4 first)

.underheader__rocket_icon
	background-position: -100px 0
	width: 70px
	height: 70px
	float: left
	@include cf

.rocket__text, .shield__text, .firehelper__text
	width: 263px
	margin-left: 30%

.underheader__shield
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(4 last)
	@include susy-breakpoint($desktop, 12)
		@include span(4)

.underheader__shield_icon
	background-position: -200px 0
	width: 70px
	height: 70px
	float: left

.underheader__firehelper
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(4 first)
		margin-top: 40px
	@include susy-breakpoint($desktop, 12)
		@include span(4 last)

.underheader__firehelper_icon
	background-position: -300px 0
	width: 70px
	height: 70px
	float: left

.mid
	@include cf
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(full)
		margin-top: 40px
	@include susy-breakpoint($desktop, 12)
		@include span(full)
		margin-top: 120px

.mid__articles_subtitle
	display: block
	padding: 8px 0
	border: rgb(242, 242, 242) solid 1px
	border-left: 0
	border-right: 0

.mid__picture
	width: 355px
	height: 355px
	background: url("../img/midpicture.png") no-repeat center center
	@include susy-breakpoint(max-width $tablet, full)
		@include span(full)
		margin-bottom: 20px
	@include susy-breakpoint($tablet, 8)
		@include span(full)
		margin-bottom: 40px
	@include susy-breakpoint($desktop, 12)
		@include span(4 last)

.mid__articles_button
	margin-top: 30px
	display: block
	padding: 5px 3px
	width: 70px
	height: 37px
	color: white
	text-align: center
	background: rgb(232, 76, 61)
	@include border-radius(24px)
	text-decoration: none
	font-family: Oswald, sans-serif
	font-size: 1.4rem
	line-height: 2.75rem
	font-weight: 400
	text-transform: uppercase

.mid__articles
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(full)
	@include susy-breakpoint($desktop, 12)
		@include span(8)

.articles__subarticle1
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 8)
		@include span(4 first)

.articles__subarticle2
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 last)
	@include susy-breakpoint($desktop, 8)
		@include span(4 last)

.subscribe
	@include cf
	@include border-radius(8px)
	padding: 30px 0
	background: rgb(232, 76, 61)
	h2, p
		color: white
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 20px
	@include susy-breakpoint($tablet $desktop, 8)
		@include span(full)
		margin-top: 40px
	@include susy-breakpoint($desktop, 12)
		@include span(full)
		margin-top: 52px

.subscribe__quote_icon
	float: left
	background-position: -400px 0
	width: 70px
	height: 70px
	margin: 0 30px

.quote
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(full)
	@include susy-breakpoint($desktop, 12)
		@include span(6 first)
		margin-top: 18px

.form
	@include susy-breakpoint(max-width $tablet, 4)
		@include span(full)
		margin-top: 18px
	@include susy-breakpoint($tablet, 8)
		@include span(full)
		margin-top: 18px
	@include susy-breakpoint($desktop, 12)
		@include span(6 last)
		margin-top: 18px
	input
		float: left
		display: block
		margin-top: 20px
		padding-left: 15px
		@include border-radius(24px)
		max-width: 380px
		width: 100%
		height: 41px
		font-family: Lato, sans-serif
		font-size: 1.4rem
		line-height: 2.4rem
		border: 0
		@include input-placeholder
			color: rgb(159, 170, 173)
			font-style: italic
			text: 20px
			text-overflow: ellipsis
		&:focus
			@include input-placeholder
				color: transparent
			outline: none

.subscribe__form_button
	display: block
	float: right
	padding: 9px 0
	margin-top: 20px
	margin-right: 34px
	background: black
	width: 135px
	height: 43px
	color: white
	text-align: center
	@include border-radius(24px)
	text-decoration: none
	font-family: FjallaOne, sans-serif
	font-size: 1.5rem
	font-weight: 400
	text-transform: uppercase

.aboveFooter
	@include cf
	@include span(full)
	margin-top: 70px
	margin-bottom: 264px
	h2
		margin-bottom: 30px

.aboveFooter__topics
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 12)
		@include span(4 first)

.topics
	border: rgb(242, 242, 242) solid 1px
	border-left: 0
	border-right: 0
	padding: 32px 0

.topics_pic1
	float: left
	width: 70px
	height: 70px
	background: url('../img/topic_pic1.png') no-repeat

.topics_pic2
	float: left
	width: 70px
	height: 70px
	background: url('../img/topic_pic2.png') no-repeat

.topics_pic3
	float: left
	width: 70px
	height: 70px
	background: url('../img/topic_pic3.png') no-repeat

.topics_text1, .topics_text2, .topics_text3
	margin-left: 105px
	p
		margin: 0

.feedback
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 last)
	@include susy-breakpoint($desktop, 12)
		@include span(4)

.feedback__form
	background: rgb(231, 231, 231)
	@include border-radius(8px)
	padding: 18px 30px 32px 30px

.feedback__form_singleLineInput
	display: block
	margin-top: 25px
	padding-left: 15px
	@include border-radius(24px)
	max-width: 312px
	width: 100%
	height: 41px
	font-family: Lato, sans-serif
	font-size: 1.4rem
	line-height: 2.4rem
	border: 0
	@include input-placeholder
		color: rgb(159, 170, 173)
		font-style: italic
		text: 20px
		text-overflow: ellipsis
	&:focus
		@include input-placeholder
			color: transparent
		outline: none

.feedback__form_textArea
	display: block
	margin-top: 25px
	padding-left: 15px
	@include border-radius(10px)
	max-width: 312px
	width: 100%
	height: 83px
	font-family: Lato, sans-serif
	font-size: 1.4rem
	line-height: 2.4rem
	border: 0
	@include input-placeholder
		color: rgb(159, 170, 173)
		font-style: italic
		text: 20px
		text-overflow: ellipsis
		text-align: left
		vertical-align: top
	&:focus
		@include input-placeholder
			color: transparent
		outline: none

a.feedback__form_button
	display: block
	padding: 9px 0
	margin-top: 20px
	margin-right: 34px
	background: rgb(202, 90, 66)
	width: 100px
	height: 43px
	color: white
	text-align: center
	@include border-radius(24px)
	text-decoration: none
	font-family: FjallaOne, sans-serif
	font-size: 1.5rem
	font-weight: 400
	text-transform: uppercase

.contacts
	@include span(full)
	@include susy-breakpoint($tablet, 8)
		@include span(4 first)
	@include susy-breakpoint($desktop, 12)
		@include span(4 last)

.contactsItems
	border: rgb(242, 242, 242) solid 1px
	border-left: 0
	border-right: 0
	padding: 26px 0

	[class^="contacts__icons_"]
		font-family: 'icomoon1' !important
		speak: none
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none
		line-height: 1
		font-size: 3rem
		float: left

.contacts__icons_homeIcon
	&:before
		content: '\e900'
.contacts__icons_phoneIcon
	&:before
		content: '\e901'
.contacts__icons_mailIcon
	&:before
		content: '\e902'


.contactsItems__textBlock
	margin-left: 60px
	h3
		font-family: Lato, sans-serif
		font-size: 1.6rem
		color: rgb(181, 98, 65)
		text-transform: capitalize
		margin: 0 0 2px 0
	p
		font-family: Lato, sans-serif
		text-transform: none
		margin: 0

footer
	background: rgb(35, 37, 40)
	position: absolute
	margin-top: -204px
	width: 100%
	height: 204px

.footer
	@include cf()
	background: rgb(35, 37, 40)
	margin-top: 78px
.footermenuWithCopyrights
	float: left

.footermenu
	float: left
	ul
		padding: 0
		margin: 0
		li
			list-style: none
			float: left
			padding: 0
			margin: 0
			span
				font-family: 'Lato', sans-serif
				font-size: 1.4rem
				color: rgb(121, 124, 126)
				margin: 0 15px
			a
				text-transform: capitalize
				text-decoration: none
				color: white
				font-family: 'Lato', sans-serif
				font-size: 1.4rem
				margin: 0

.social
	float: right

.social__icon_facebook
	float: left
	background-position: -100px -100px
	width: 43px
	height: 43px

.social__icon_twitter
	float: left
	background-position: -50px -100px
	width: 43px
	height: 43px
	margin-left: 10px

.social__icon_linkID
	float: right
	background-position: -100px -100px
	width: 43px
	height: 43px
	margin-left: 10px

.copyRights
	clear: both
	margin-top: 5px
	a
		text-decoration: none
		font-family: 'Lato', sans-serif
		font-size: 1.4rem
		&:nth-of-type(2n)
			color: rgb(121, 124, 126)
