doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title TITLE HERE
		link(href="css/style.css", rel="stylesheet")
		link(href="css/owl.carousel.css", rel="stylesheet")
		link(href="css/owl.theme.css", rel="stylesheet")

	body
		header
			div.wrap__header
				div.logo: a(href="#") site name
				nav.menu
					ul
						li
							a(href="#") home
						li
							a(href="#") about
						li
							a(href="#") service
						li
							a(href="#") portfolio
						li
							a(href="#") contact
			div.slider
				div.owl-carousel
					div.item.slide1
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide2
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide3
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide4
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide5
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide6
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide7
						img(src='img/slider__pic1170px.png' alt="pictures")
				div.wrap
					div.customNavigation
						a.btn.prev
							i.icons.icon-prev
						a.btn.next
							i.icons.icon-next
		main.wrap__main
			div.wrap
				section.underheader
					div.underheader__rocket
						h2.underheader__rocket_title aliquam tincidunt
						p.underheader__rocket_description Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
							| Aenean dignissim pellentesq
						a.underheader__rocket_link(href="#") => more

					div.underheader__shield
						h2.underheader__shield_title aliquam tincidunt
						p.underheader__shield_description Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
							| Aenean dignissim pellentesq
						a.underheader__shield_link(href="#") => more

					div.underheader__firehelper
						h2.underheader__firehelper_title aliquam tincidunt
						p.underheader__firehelper_description Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
							| Aenean dignissim pellentesq
						a.underheader__firehelper_link(href="#") => more

				section.mid
					div.mid__picture

					div.mid__articles
						h2.mid__aticles_title Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
							| sit amet orci. Aenean dignissim pellentesque felis
						h3.mid__articles_subtitle Civamus vestibulum nulla nec ante

						div.articles__subarticle1
							h4 Sed egestas anteet
							p Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero,
								| faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum
								| hendrerit tortor. Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
								| ornare nisl.
							a(href="#") more
						div.articles__subarticle2
							h4 Sed egestas anteetb
							p Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero,
								| faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum
								| hendrerit tortor. Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
								| ornare nisl.
							a(href="#") more

				section.subscribe
					div.quote
						h2 Festus, clemens boreass
						p Historias cadunt in primus antverpia! Caculas tolerare in brema! Hercle, spatii primus!.

					div.form
						h2 Nunquam perdere adelphis.
						input( type='email' placeholder='enter your email id here...')
						a(href='#') subscribe

				section.prefooter
					div.topics
						div.item1
							h2 Planets reproduce with vision!
							p Mash up each side of the pumpkin seeds with one container of blood oranges.
							a(href="#") more=>
						div.item2
							h2 Death, love, and faith.
							p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.
							a(href="#") more=>
						div.item3
							h2 Aye, arg.
							p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.
							a(href="#") more=>

					div.feedback
						h2 demissios credere!
						form
							p Ecce. Volare hic ducunt ad raptus gallus. Onus de superbus navis, promissio consilium!
							input(type='text' placeholder='name...')
							input(type='email' placeholder='email...')
							input(type='textarea' placeholder='your query...')
							a(href="#") send
					div.contacts
						h2 fraticinidas peregrinatione!
							div.subitem4
								h3 historias velum!
								p Mash up each side of the pumpkin seeds with one container of blood oranges.
							div.subitem5
								h3 monss resistere!
								p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.
							div.subitem6
								h3 hilotaes tolerare!
								p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.

		footer
			div.wrap.footer
				div.footermenu
					ul
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
				div
					a(href="#")
					p Sunt musaes perdere pius, salvus terrores.
				div.social
					i
					i
					i
		script(src="js/jquery-1.9.1.min.js")
		script(src="js/plugins/owl.carousel.min.js")
		script(src="js/custom.js")