doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title TITLE HERE
		link(href="css/style.css", rel="stylesheet")
		link(href="css/owl.carousel.css", rel="stylesheet")
		link(href="css/owl.theme.css", rel="stylesheet")

	body
		header
			div.wrap__header
				div.logo: a(href="#") site name
				nav.menu
					ul
						li
							a(href="#") home
						li
							a(href="#") about
						li
							a(href="#") service
						li
							a(href="#") portfolio
						li
							a(href="#") contact
			div.slider
				div.owl-carousel
					div.item.slide1
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide2
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide3
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide4
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide5
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide6
						img(src='img/slider__pic1170px.png' alt="pictures")
					div.item.slide7
						img(src='img/slider__pic1170px.png' alt="pictures")
				div.wrap
					div.customNavigation
						a.btn.prev
							i.icons.icon-prev
						a.btn.next
							i.icons.icon-next

		main.wrap__main
			div.wrap__underheader
				div.wrap
						section.underheader
							div.underheader__rocket
								i.underheader__rocket_icon.icons
								div.rocket__text
									h2.underheader__rocket_title aliquam tincidunt
									p.underheader__rocket_description Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
										|Aenean dignissim pellentesq
									a.underheader__rocket_link(href="#") => more

							div.underheader__shield
								i.underheader__shield_icon.icons
								div.shield__text
									h2.underheader__shield_title aliquam tincidunt
									p.underheader__shield_description Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
										|Aenean dignissim pellentesq
									a.underheader__shield_link(href="#") => more

							div.underheader__firehelper
								i.underheader__firehelper_icon.icons
								div.firehelper__text
									h2.underheader__firehelper_title aliquam tincidunt
									p.underheader__firehelper_description Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
										|Aenean dignissim pellentesq
									a.underheader__firehelper_link(href="#") => more

			div.wrap
				section.mid
					div.mid__picture
					div.mid__articles
						h2.mid__aticles_title Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
							|sit amet orci. Aenean dignissim pellentesque felis
						h3.mid__articles_subtitle Civamus vestibulum nulla nec ante

						div.articles__subarticle1
							h4 Sed egestas anteet
							p Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero,
								| faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum
								| hendrerit tortor. Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
								| ornare nisl.
							a.mid__articles_button(href="#") more
						div.articles__subarticle2
							h4 Sed egestas anteetb
							p Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero,
								| faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum
								| hendrerit tortor. Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
								| ornare nisl.
							a.mid__articles_button(href="#") more
				section.subscribe
					div.quote
						i.subscribe__quote_icon.icons
						div.subscribe__quote_text
							h2 Festus, clemens boreass
							p "Historias cadunt in primus antverpia! Caculas tolerare in brema! Hercle, spatii primus!."

					div.form
						h2 Nunquam perdere adelphis.
						input( type='email' placeholder='enter your email id here...')
						a.subscribe__form_button(href='#') subscribe&rarr;

				section.aboveFooter
					div.aboveFooter__topics
						h2 aliquam tincidunt
						div.aboveFooter__topic_item1.topics
							div.topics_pic1
							div.topics_text1
								p Mash up each side of the pumpkin seeds with one container of blood oranges.
								a(href="#") more=>
						div.aboveFooter__topic_item2.topics
							div.topics_pic2
							div.topics_text2
								p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.
								a(href="#") more=>
						div.aboveFooter__topic_item3.topics
							div.topics_pic3
							div.topics_text3
								p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.
								a(href="#") more=>

					div.feedback
						h2 demissios credere!
						div.feedback__form
							form
								p Ecce. Volare hic ducunt ad raptus gallus. Onus de superbus navis, promissio consilium!
								input.feedback__form_singleLineInput(type='text' placeholder='name...')
								input.feedback__form_singleLineInput(type='email' placeholder='email...')
								input.feedback__form_textArea(type='textarea' placeholder='your query...')
								a.feedback__form_button(href="#") send &rarr;
					div.contacts
						h2 fraticinidas peregrinatione!
						div.contactsItems
							i.contacts__icons_homeIcon
							div.contacts__adress.contactsItems__textBlock
								h3 historias velum!
								p Mash up each side of the pumpkin seeds with one container of blood oranges.
						div.contactsItems
							i.contacts__icons_phoneIcon
							div.contacts__phone.contactsItems__textBlock
								h3 monss resistere!
								p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.
						div.contactsItems
							i.contacts__icons_mailIcon
							div.contacts__mail.contactsItems__textBlock
								h3 hilotaes tolerare!
								p Cum deus favere, omnes habitioes imitari alter, placidus fluctuies.

		footer
			div.wrap.footer
				div.footermenuWithCopyrights
					div.footermenu
						ul
							li
								a(href="#") home
								span /
							li
								a(href="#") about
								span /
							li
								a(href="#") services
								span /
							li
								a(href="#") portfolio
								span /
							li
								a(href="#") contact

					div.copyRights
						p
							a(href="#") Designed by: www.alltempalteneeds.com /
							a(href="#")  Images from: www.alltempalteneeds.com /
							|  Copyright(c) website name.

				div.social
					a(href="")
						i.icons.social__icon_facebook
					a(href="")
						i.icons.social__icon_twitter
					a(href="")
						i.icons.social__icon_linkID


		script(src="js/jquery-1.9.1.min.js")
		script(src="js/plugins/owl.carousel.min.js")
		script(src="js/custom.js")